# archived
archived/*

# Working dir
working/*
working/deprecated/

# Vscode configuration
.vscode/*
__pycache__/
.DS_Store

# Hidden files
.venv/
.env/
.*

# input & output files
*.xyz
*.csv
*.npy
*.dat
*.png
*.out
*.log
